@model IEnumerable<Domain.Model.Dashboard.Productlist>



<h4 class="text-center text-uppercase">List of employee</h4>

<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductDiscription)</th>
            <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductImage)</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@employee.ProductImage"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                    @employee.ProductName
                </td>
                <td>@employee.ProductPrice</td>
                <td>@employee.ProductDiscription</td>
                
            </tr>
        }
    </tbody>
</table>   