@model IEnumerable<Domain.Model.Cart.CartProducts>
@{
    ViewData["Title"] = "CartItem";

}
<link href="~/css/CartItems.css" rel="stylesheet" />
<script src="~/Custom.js/CartProducts.js"></script>

<div class="card">
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">@Model.ToList().Count items</div>
                </div>
            </div>
            @* Initializing calculation variables *@
            @{double total = 0;}
            @{double totalItems = 0;}
            @foreach (var cart in Model)
            {
                //Doing calculation for total and total items
                total += (cart.Count * cart.product.ProductPrice);
                totalItems += cart.Count;
                <div class="row border-top border-bottom cart-items">
                    <div class="row main align-items-center product">
                        <div class="col-2"><img class="img-fluid" src="~/images/@cart.product.ProductImage"></div>
                        <div class="col">
                            <div class="row text-muted product-name" id=@cart.product.Id>@cart.product.ProductName</div>
                            <div class="row">@cart.product.ProductDescription</div>
                        </div>
                        <div class="col">
                            <a href="#" onclick="DecreaseCount(@cart.product.Id)">-</a>
                            <a href="#" class="border cart_item_quantity">@cart.Count</a>
                            <a href="#" onclick="IncreaseCount(@cart.product.Id)">+</a>
                        </div>
                        @* Rupees symbol added along with price and calling the remove product function *@
                        <div class="col cart_item_amount">&#8377; @cart.product.ProductPrice <span class="close" onclick="RemoveProductFromCart(@cart.product.Id)">&#10005;</span></div>
                    </div>
                </div>
            }
            <div class="back-to-shop"><a href=@Url.Action("Index", "Home")>&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col total-items" style="padding-left:0;">TOTAL ITEMS @totalItems</div>
            </div>
            @* Hidden field to store the totalItems count and there by easy access in JS file *@
            <input type="hidden" id="totalItems" name="totalItems" value=@totalItems>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right total">&#8377; @total.00</div>
            </div>

            @* Building the data of full address of the user - to display in the label *@
            @{string fullAdd = ""; }
            <label>DELIVERY ADDRESS</label>
            <select name="listAddress" id="listAddress" onchange="ShowCompleteAddress()">
                @foreach (var item in ViewBag.addresses)
                {
                    fullAdd = item.address1 + ' ' + item.address2 + ' ' + item.city + '-' + item.postCode;
                    //Using custom attribute to store the data full address - data-complete
                    <option data-complete=@fullAdd value="@item.Id">
                        @item.address1 @item.address2
                    </option>
                }
            </select>
            <p id="labelAddress"></p>

            <!-- Button trigger modal address-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addressModal">
                NEW ADDRESS
            </button>
            <button class="btn" onclick="Checkout()">CHECKOUT</button>
        </div>
    </div>

</div>

<!-- Modal Address-->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" sstyle="display:flex">
                    <div class="col-md-10 col-md-offset-4">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend>Address Details</legend>
                                <div class="col-sm-10">
                                    <input type="text" id="address1" placeholder="Address Line 1" class="form-control">
                                    <input type="text" id="address2" placeholder="Address Line 2" class="form-control">
                                    <input type="text" id="city" placeholder="City" class="form-control">
                                    <input type="text" id="state" placeholder="State" class="form-control">
                                    <input type="text" id="postCode" placeholder="Post Code" class="form-control">
                                    <input type="text" id="country" placeholder="Country" class="form-control">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div style="display:flex">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveAddress()" class="btn btn-primary">Save</button>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>